:root{
  --font-family: Verdana, Geneva, Tahoma, sans-serif; 
  --font-size-l: 3.5rem;
  --primary-color: rgb(10, 5, 12);
  --secondary-color: rgb(31, 53, 64);
  --font-color: rgb(206, 153, 60);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-size-l);
  font-family: var(--font-family);
  color: var(--font-color);
}

body{
  position: relative;
  background-color: var(--primary-color);
}

html {
    font-size: 20px;
}

@media screen and (max-width: 62em) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 48em) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 36em) {
    html {
        font-size: 8px;
    }
}

.Board-div{
  background-color: var(--primary-color);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.Board-div .row{
  display: flex;
  gap: 0.4rem;
}

.Square-div{
  width: 10rem;
  height: 10rem;
  background-color: var(--secondary-color);
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.WinnerReveal-div{
   display: flex;
   justify-content: space-between;
}

.WinnerReveal-div p{
  font-size: 1rem;
  font-weight: bold;
 
}

.Reset-div{
  font-size: 0;
}

.Reset-div button{
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: none;
  padding: 0.4rem 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
}